<div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label class="control-label"></label>

                {{form.first_name}}<br />
                 {{ form.first_name.errors }}

            </div>

            <div class="col-xs-6">
                <label class="control-label"></label>
                  {{form.last_name}}<br />
                 {{ form.last_name.errors }}
            </div>
        </div>
    </div>



    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label class="control-label"></label>
                {{form.email}}<br />
                 {{ form.email.errors }}

            </div>

            <div class="col-xs-6 ghingerphone">
                <label class="control-label"></label>
                  {{form.phone_number}}<br />
                 {{ form.phone_number.errors }}
            </div>
        </div>
    </div>


   <div class="form-group">
        <div class="row">
           <div class="col-xs-6 ghingerphone"> 
            <label class="control-label"></label>
                {{form.country}}<br />
                 {{form.country.errors }}
            </div>
        
           <div class="col-xs-6 id_speciality">
                <label class="control-label"></label>
                 {{form.level}}<br />
                 {{ form.level.errors }}
            </div>
           
        </div>
    </div>

     <div class="form-group">
        <div class="row">
            <div class="col-xs-12">
                <label class="control-label"></label>
                {{form.name}} <br />
                 {{ form.name.errors }}
            </div>

            
        </div>
    </div>


    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label class="control-label"></label>
                {{form.district}} <br />
                 {{ form.district.errors }}

            </div>

            <div class="col-xs-6 ghingerphone">
                <label class="control-label"></label>
                  {{form.accreditation}} <br />
                 {{ form.accreditation.errors }}
            </div>
        </div>
    </div>
   